:root {
    --blue: #0066FF;
    --black: #000000;
    --white: #FFFFFF;
    --greyMedium: #ECECEC;
    --greyBack: #F7F7F7;
    --greyDark: #A8A8A8;
    --dayBackground: linear-gradient(180deg, #2E81FE 0%, #9EC5FF 100%);
    --nightBackground: linear-gradient(180deg, #000000 0%, #270157 100%);
    --cards-border-radius: 24px;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--greyBack);
    font-family: 'Inter', sans-serif;
 }

.nav-bar-title
{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas: 
    "nav-title nav-list"
    ;

    background-color: var(--nav-background);
}

.logo
{
    height: 70px;
    margin-right: 20px;
    margin-left: 35px;
}

.nav-title
{
    grid-area: nav-title;
    display: flex;
    align-items: center;
    font-size: xx-large;
    margin-left: 5px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 1000;
    margin-top: 10px;
}

.nav-title:hover{
    opacity: 0.5;
    color: black;
}

.nav-list
{
    grid-area: nav-list;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-list button
{
    margin-left: 7px;
    margin-right: 7px;
    background-color: var(--white);
    font-size: 18px;
    margin-top: 27px;
    border-radius: 30px;
    padding: 4px 15px 4px 15px;
    border-color: var(--greyMedium);
    border-style: solid;
    border-width: 1px;
   
}

.nav-list button:hover
{
    box-shadow: 1px 2px 5px 1px var(--greyDark);
}

.nav-list button a{
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
}



.show-nav
{
   visibility: visible;
}


.show-widget
{
   visibility: hidden;
}

.navbar-toggler
{
    position: absolute;
    right: 20px;
    top: 30px;
}
.navbar-toggler-icon
{
    width: 30px;
}

/* Weather section */

.wrapper {
    padding: 1rem 1rem;
}
/*class changed - 'container' replaced with 'space' */
.space {

    display: flex;
    border-radius: 8px;
    gap: 64px;
   /*  background: var(--dayBackground);*/
}

.icon-container {
    display: flex;
    justify-content: center;
    width: 49%;
}

.weather-container {
    width: 49%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
}

.temperature {
    font-size: 160px !important;
    font-weight: 600px !important;
    color: var(--white);
}

.location {
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
    padding-top: 40px;
}

.discription-weather {
    padding-bottom: 40px;
    color: var(--white);
}

.dayBackground {
    background: var(--dayBackground);
}

.nightBackground {
    background: var(--nightBackground);
}


/* movie section repositioned */
#movies {
    padding: 2rem 2rem;
    width:100%;
}

.navbar{
    position: inherit;
}

@media (max-width: 779px) {
    
    .show-widget
    {
   visibility: visible;
    }
    .show-nav
    {
   visibility: hidden;
    }
    .logo
    {
    margin-left: 15px;
    }
    .space {
        gap: 0;
    }
  }
  

  @media (max-width: 520px) {
    
    .navbar-toggler
    {
    margin-top: 10px;
    }   
    .container {
        flex-flow: column;
    }
    .icon-container {
        width: 100%;
        padding-top: 40px;
    }
    .weather-container {
        width: 100%;
        flex-direction: row;
    }
    .location {
        font-family: 'Inter', sans-serif;
        font-size: 24px !important;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
    }
    .temperature {
        font-family: 'Inter', sans-serif;
        font-size: 56px !important;
        font-weight: 600;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: left;
    }
    .discription-weather {
       font-family: 'Inter', sans-serif;
       font-size: 16px;
       font-weight: 400;
       line-height: 24px;
       text-align: left;
    }
    .gap-items {
        display: flex;
        column-gap: 32px;
    }
    .temp-mobile {
        order: -1 !important;
        display: flex;
    }
  }

/* Search text and button styling */
.search-icon {
    height: 20px;
    font-weight: bold;
    margin-right: 0;
    position: relative;
    left: 6vh;
}

form.text-search {
    text-align: center;
}

/* Search text styling */
form.text-search input[type=text] {
    color: blue;
    border-radius: 20px;
    width: 100%;
    padding-left: 5vh;
    padding-right: 15vh;
    height: 40px;
}

/* Search button styling */
form button {
    background: black;
    color: white;
    border-radius: 20px;
    position: relative;
    right: 13vh;
}

/* Serach button hover styling */
form button:hover {
    background-color: blue;
    /* color: red; */
}

/* footer, copyright and contacts bring into one line */
footer {    
     padding-top: 20px;
}

/* footer, Moodmovies copyright styling */
footer h5 {
    color: gray;
    font-size: 15px;
    font-style: italic;
    padding-left: 10px;
}

/* footer, Contact Us styling */
footer span {
    color: blue;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 20px;
    float: right;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* footer, Contact Us hover styling  */
footer span:hover {
    color: red;
}

.hidden
{
    visibility: hidden;
}
.shown
{
    visibility: visible;
}